body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.pricing{
  height: 795px;
}
.pricing_circle{
  border-radius: 50%;
}
.pricing_item ul{
  color: rgba(0, 0, 0, 0.5);
}

/* .pricing_container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.pricing_content{
    display: flex;
    margin: 0 265px;
    justify-content: space-between;
}
.pricing_item {
  height: 420px;
  width: 270px;
  border-radius: 2px;
  border: 1px solid #000000;
}
.pricing_item ul{
    list-style-type: none;
    padding: 0;
}
.pricing_item

.pricing_circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 auto;
  margin-top: 29px;
} */
